.map-area{
    background: linear-gradient(
        62deg, 
        #F2BED1,
        #F9F5F6, 
        #E49BA6
        );
    background-color: #8CE4FF;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 85% 15%;
    box-sizing: border-box;
    aspect-ratio: 16 / 9;
}
.sidebar{
    background: linear-gradient(
    62deg, 
    #540863 0%,
    #E49BA6 100%
    );
}

.search-location{
    padding: 10px 0px 10px 10px;
    object-fit: contain;
}

.search-destination{
    padding: 10px 0px 10px 10px;
}

.distance{
    padding: 10px 0px 10px 10px;
}

.routes{
    grid-template-rows: 100vh;
    padding: 10px 0px 10px 10px;
}

.displayImage{
    display: none;
    
}

.map img{
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: contain;
}

.suggestions{
list-style: none;
}

.suggestions li{
    cursor: pointer;
}
 
.suggestions li:hover{
    background:#F2BED1;
}