.container-1{
    background-color: aqua;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
.container-2{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 25vh 25vh 10vh 40vh;
    float: right;
    overflow: auto;
    position: relative;
}
.box-1{
    background-color: antiquewhite;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.box-2{
    background-color: blue;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.box-3{
    background-color: blueviolet;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.box-4{
    background-color: burlywood;
    grid-template-rows: 100vh;
    padding: 10px 10px 10px 10px;
}

.displayImage{
    display: none;
}