.container-1{
    background: linear-gradient(
        62deg, 
        #F2BED1,
        #F9F5F6, 
        #E49BA6
        );
    background-color: #8CE4FF;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 85% 15%;
    box-sizing: border-box;
    aspect-ratio: 16 / 9;
}
.container-2{
    background: linear-gradient(
    62deg, 
    #540863 0%,
    #E49BA6 100%
    );
}

.box-1{
    /*background: linear-gradient(62deg, #F2BED1 0%, #F9F5F6 100%);*/
    /*background-color: #476EAE;*/
    padding: 10px 0px 10px 10px;
    object-fit: contain;
}

.box-2{
    /*background: linear-gradient(62deg, #F2BED1 0%, #F9F5F6 100%);*/
    /*background-color: #48B3AF;*/
    padding: 10px 0px 10px 10px;
}

.box-3{
    /*background: linear-gradient(62deg, #F2BED1 0%, #F9F5F6 100%);
    /*background-color: #A7E399;*/
    padding: 10px 0px 10px 10px;
}

.box-4{
    /*background: linear-gradient(62deg, #F2BED1 0%, #F9F5F6 100%);*/
    /*background-color: #F6FF99;*/
    grid-template-rows: 100vh;
    padding: 10px 0px 10px 10px;
}

.displayImage{
    display: none;
    
}

.map img{
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: contain;
}