@import url('https://fonts.googleapis.com/css?family=Pixelify Sans');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.map-area{
    font-family: 'Pixelify Sans';
    width: 933px;
    height: 554px;
    background: linear-gradient(
        62deg, 
        #F2BED1,
        #F9F5F6, 
        #E49BA6
        );
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 746px 187px;
    grid-template-rows: 60px auto;
    box-sizing: border-box;
    grid-template-areas: "titlebar titlebar"
                         "map sidebar";
}

#titlebar {
    width: 933px;
    height: 64px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: titlebar;
    padding-right: 10px;
}

.title{
    padding-left: 10px;
}

.btn img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#searchLocation{
    font-family: 'Pixelify Sans';
    width: 159px;
    height: 26px;
}

.search-location{
    font-family: 'Pixelify Sans';
    padding-left: 12px;
}

#searchDestination{
    font-family: 'Pixelify Sans';
    width: 159px;
    height: 26px;
}

.search-destination{
    font-family: 'Pixelify Sans';
    padding-top: 21px;
    padding-left: 12px;
}

.findPath{
    padding-top: 21px;
    padding-left: 12px;
}

.distance{
    padding-top: 21px;
    padding-left: 12px;
}

#distance{
    font-size: 40px;
}

.routes{
    display: grid;
    padding-top: 21px;
    padding-left: 12px;
}

.otherRoutes{
    width: 159px;
    height: 194px;
    background: linear-gradient(
        62deg, 
        #F2BED1,
        #F9F5F6, 
        #E49BA6
        );
    overflow-x: scroll;
}
.map{
    width: 746px;
    height: 474px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}
.map img{
    width: 731px;
    height: 474px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}



